@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url(/Asset/#333/index.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
#header{
    width: 100%;
    padding-top: 12px;
    padding-bottom:12px;
    z-index: 10;
}
#header-top{
 display: flex;
 width: 100%;

    align-items: center;
    justify-content: space-between;
}
.area{
    margin: 16px;
    display: flex;
    align-items: center;
}
.logo{
    margin: 10px;
}
.news{
    text-decoration: none;
    color: black;
    flex-direction: row;
    align-items: center;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 123px;
    margin-right: 8px;
    /* line-height: 30px; */
    margin: 10px 5px;
}
a{
    color: black;
}
.information img{
    margin: 0 8px 0 0;
    border-radius: 50%;
    overflow: hidden;
    width: 26px;
    height: 26px;
}
.weather{
 margin: 10px 5px;
}
.text-header{
    padding: 10px 0;
}
.nhiet-do{
    padding-bottom: 50px;
}
.logintt{
    border-left:solid 1px #ccc ;
    margin: 20px 0;
    margin-left: 10px;
}
.login{
    background: transparent none;
    border: 0;
    padding: 0;
    white-space: nowrap;
    color: gray;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding:0 20px;
    font-size: 16px;
}
.bi{
    padding:0 10px;
}
.search{
margin: 16px 0;
}
/*-- Menu --*/
.menu{
    width: 100%;
    margin: 10px 0;;
    font-family: Helvetica, sans-serif;
    font-size: 14.5px;
    border-bottom:solid 1px #ccc ;
    position:sticky;
}
.menu ol li{
    list-style-type: none;
    display: inline;
    margin-left: 3px;
    
}/*-- body --*/
#body{
    margin: 20px 0;
}
.container-body{
    display: flex;
}
/*-- body left --*/
.left-mxh{
    margin-right: 22px;
    width: 10%;
}
.left-mxh ul li{
    list-style-type: none;
    font-size: 30px;
    opacity: 60%;
}
.mxh{
    margin: 0 auto;
    list-style: none;
    position: sticky;
    top: 60px;
    width: 35px;
}
.chat{
    margin-top: 16px;
    padding: 16px 0 0;
    border-top: 1px solid #eee;
} /*-- content --*/
.center-content{
    width: 60%;
}
.center-content ul li{
    list-style-type: none;
    font-size: 20px;
    opacity: 60%;
}
.Title{
    font-size: 35px;
}
.time {
    margin: 20px 0;
}
.time img{  
    width: 32px;
    height: auto;
}
.time a{
    margin: 0 10px 0 3px;
}
.time span{
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #a0a4a8
}
.space {
    /* margin: 20px 0 0; */
    margin: 0 5px;
    background: #f1f5f9;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    min-height: 40px;
    font-weight: 500;
    color: #666;
    display: block;
}
.content-top{
    margin: 32px 0px 0 0;
    font-size: 18px;
    line-height: 30px;
    color: #333;
    font-style: italic;
    font-weight: 400;
}
.content-mid{
    margin: 32px 0;
    line-height: 30px;
}
.content-mid img{
width: auto;
height: auto;

}/*-- body right --*/
.right-recommend{
    border-top:solid 2px black ;
    margin-left:60px ;
}
.right-recommend h2{
    font-size: 16px;
    margin: 30px 0;
    font-weight: 600;
}
.recommend{
    width: 100%;
}
.recommend ol li{
    list-style-type: none;
    margin: 30px 0;
    font-weight:bold
}
.outstanding a img{
    width: 100%;
}
a{
    text-decoration: none;

}
a:hover{
    text-decoration: none;
}
.outstanding{
    margin-bottom:20px;
}
.so{
    color: #a0a4a8;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.so span{
    font-weight: bold;
}
.title-noibat{
    font-size: 18px;
    margin-top: 10px;
} 
.noidung-khac {
  width: 100%;
  display: flex;
  padding:25px 0;
  border-top: solid 1px #ccc;
}
.noidung-khac img{
    width: 90px;
    height: auto;
}
.suggested-title{
    font-size: 15px;
    width: 100%;

}
/*Evaluate*/
.Evaluate{
    width:100%;
    margin: 10px auto;
}
.favourite{
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.present img{
    width: 32px;
    height: auto;
    margin-right: 10px;
}
.like{
    margin: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 120px;
    background-color: #eee;
    padding: 0 12px 0 0 ;
}
.star{
    margin-bottom: 20px;
}
.click-present{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 120px;
    padding-right:10px ;
    margin: 10px 10px;
    border: none;
    box-shadow: #e9e8e8 0px 0px 1px 1px;

}
p {
    color: #888;
    font-size: 13px;
}
/*-- see more --*/
.Related-news{
    border: solid 1px #eee;
    padding: 20px 30px 0 30px;
}
.Related-title {
margin-top: 20px;
font-size: 20px;
font-weight: bold;
border-bottom: solid 1px #eee ;
padding-bottom:10px ;
}
.outstanding{
 
    display: flex;
}
.text-primary{
    font-size: 16px;
    line-height: 20px;
    padding: 0 15px;
    color: black !important;
}
.recommend-footer .outstanding img{
    height: 90px;
    width: auto;
}
.key-word{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.space a{
    font-weight: 500;
    color: #666;
}
/*Comment*/
.comment-head{width: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.comment-head-left{
    margin: 10px 0;
}
.comment-head-left h4{
    font-weight: 550;

}
.comment-right button {
    border: none;
    background-color: white;
    margin: 0 5px;
    cursor: pointer;
    color: cadetblue;
    padding: 0 10px;
    }
.comment-right button{}
